.orders-header {
    display: flex;
    gap: 1000px;
}

.orders-item {
  display: flex;
  gap: 800px;
  margin-bottom: 15px;
  align-items: center;
}

.orders-item img {
  width: 200px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.orders-item div h3 {
  margin: 0;
}

.orders-item div p {
  margin: 4px 0;
}

.orders-item div p.name {
  margin: 0;
  font-weight: 600;
}

.orders-item div p.subtotal {
  margin: 0;
  color: #555;
}

.btn-home {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  width: 120px;
  height: 50px;
  border-radius: 15px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  font-size: 17px;
  background-color: #2b79cc;
}
