* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

.header logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    width: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 28px;
    background-color: #7491a5;
    color: white;
}

.nav a:hover {
    color: #f42a0f;
}

.nav a {
    color: white;
    margin-left: 16px;
    text-decoration: none;
}

.hero {
    height: 80vh;
    background: url("images/background_img.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(65, 58, 80);
    text-align: center;
}

.hero-content h1 {
    font-size: 100px;
}

.hero-content p {
    margin: 16px 0;
}

.hero-content button {
    padding: 10px 20px;
    border: none;
    background-color: #ff6347;
    color: rgb(226, 219, 236);
    cursor: pointer;
}

.menu {
    padding: 40px 20px;
    text-align: center;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.menu-card {
    height: 200px;
    padding: 20px;
    border: 1px solid #948e8e;
    border-radius: 8px;
    color: rgb(19, 3, 3);
}

#pizza {
    background-image:
        linear-gradient(rgba(243, 233, 233, 0.4), rgba(131, 122, 122, 0.4)),
        url("images/pizza.avif");
    background-position: 0%;
    background-size: cover;
}

#burger {
    background-image:
        linear-gradient(rgba(243, 233, 233, 0.4), rgba(0, 0, 0, 0.4)),
        url("images/burger.avif");
    background-position: 0%;
    background-size: cover;
}

#pasta {
    background-image:
        linear-gradient(rgba(243, 233, 233, 0.4), rgba(0, 0, 0, 0.4)),
        url("images/pasta.avif");
    background-position: 0%;
    background-size: cover;
}

.hours {
    background-color: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
}

.enquiry {
    background-color: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
}

.contact {
    padding: 40px 20px;
    text-align: center;
}

#enquire {
    background-color: green;
    font-weight: bold;
    color: antiquewhite;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}

.form-group {
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    align-items: center;
    padding: 12px;
    margin: 0 auto;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 16px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .menu-items {
        grid-template-columns: 1fr;
    }

    .hero-content h1 {
        font-size: 28px;
    }
}