.orders-header {
    display: flex;
    gap: 789px;
}

.btn-home {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    width: 120px;
    height: 50px;
    border-radius: 15px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    font-size: 17px;
    background-color: #2b79cc;
}